{% extends 'base.html' %}

{% block title %}Edit Email - Parking App{% endblock %}

{% block content %}
    <div class="container-fluid">
        <h1 class="h3 mb-2 text-gray-800">Modificar Email</h1>
        <form method="put">
            <div class="form-group">
                <label for="new_email">Nuevo Email:</label>
                <input type="email" class="form-control" id="new_email" name="new_email" value="{{ user.email }}" required>
            </div>
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </form>
    </div>
{% endblock %}
