{% extends 'base.html' %}

{% block title %}Informes - Parking App{% endblock %}

{% block content %}
    <!-- Begin Page Content -->
    <div class="container-fluid">

        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">Lista de Reportes</h1>
        <p class="mb-4"></p>

        <!-- Report Table -->
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Reporte</th>
                    <th>Descripcion</th>
                    <th>Accion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Reporte Usuarios</td>
                    <td>First report description.</td>
                    <td><a href="#"  class="btn btn-secondary">Generar</a></td>
                </tr>
                <tr>
                    <td>Reporte Ingresos</td>
                    <td>Second report description.</td>
                    <td><a href="#" class="btn btn-secondary">Generar</a></td>
                </tr>
                <tr>
                    <td>Reporte Estacionamientos</td>
                    <td>Third report description.</td>
                    <td><a href="#" class="btn btn-secondary">Generar</a></td>
                </tr>
                <tr>
                    <td>Reporte 4</td>
                    <td>Fourth report description.</td>
                    <td><a href="#" class="btn btn-secondary">Generar</a></td>
                </tr>
            </tbody>
        </table>


    </div>
    <!-- /.container-fluid -->
{% endblock %}
