{% extends 'base.html' %}

{% block title %}Dashboard - Parking App{% endblock %}

{% block content %}
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    

                    <!-- Page Heading -->
                    <h1 class="h3 mb-2 text-gray-800">Lista de Usuarios</h1>
                    <p class="mb-4">información sobre cuentas registradas</a>.</p>


                    <!-- Agregar un formulario de búsqueda -->
                    <form action="/usuarios" method="get" class='py-3'>
                        <input type="text" name="search_query" class="input" placeholder="Buscar por nombre o correo electrónico">
                        <button type="submit" class=' btn btn-primary'>Buscar</button>
                    </form>

                    <!-- DataTales Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Nombre de Usuario</th>
                                            <th>Email</th>
                                            <th>Ultima Conexion</th>
                                            <th>Fecha Registro</th>
                                            <th>Estado</th>
                                            <th>Acciones</th> 
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for user in users %}
                                        <tr>
                                            <td>{{ user.username }}</td>
                                            <td>{{ user.email }}</td>
                                            <td>{{ user.last_connection }}</td>
                                            <td>{{ user.created_date }}</td>
                                            <td>{{ 'activo' if user.is_active else 'inactivo' }}</td>

                                            <td>
                                                <a  href="{{ url_for('edit_email', user_id=user.id) }}" class="btn btn-primary">Editar</a>
                                                <a class="btn btn-danger" href="#" onclick="disableUser({{ user.id }})">Deshabilitar</a>
                                            </td>
                                        </tr>

                                                            <!-- Modal for disabling users -->
<div class="modal fade" id="disableUserModal" tabindex="-1" role="dialog" aria-labelledby="disableUserModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="disableUserModalLabel">Confirmar Desabilitar Usuario</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Esta seguro que desea Desabilitar este usuario?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <a class="btn btn-danger" href="#" >Deshabilitar</a>
            </div>
        </div>
    </div>
</div>
                                        {% endfor %}
                                    </tbody>
                                </table>
                                


                            </div>
                        </div>
                    </div>
                
                    <!-- Pagination -->
                    <nav aria-label="Page navigation">
                        <ul class="custom-pagination">
                            {% if pagination.has_prev %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('user_list', page=pagination.prev_num) }}">Previous</a>
                            </li>
                            {% endif %}
                            {% set num_pages = pagination.pages|length %}
                            {% for page_num in range(pagination.page - 2, pagination.page + 3) %}
                                {% if page_num >= 1 and page_num <= num_pages %}
                                    <li class="page-item{% if page_num == pagination.page %} active{% endif %}">
                                        <a class="page-link" href="{{ url_for('user_list', page=page_num) }}">{{ page_num }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if pagination.has_next %}
                            <li class="page-item">
                                <a class="page-link" href="{{ url_for('user_list', page=pagination.next_num) }}">Next</a>
                            </li>
                            {% endif %}
                        </ul>
                    </nav>



                </div>
                <!-- /.container-fluid -->

<script>
    function disableUser(userId) {
        if (confirm('Esta seguro que desea Desabilitar este usuario?')) {
            fetch(`/activate_user/${userId}`, {
                method: 'PUT',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ is_active: false }) // Set the payload as needed
            })
            .then(response => {
                if (response.ok) {
                    console.log(`User ${userId} deactivated successfully`);
                    // You might want to reload the user list or perform other actions after deactivating the user
                    window.location.reload(); // Reload the page for example
                } else {
                    console.error(`Failed to deactivate user ${userId}`);
                    // Handle error here
                }
            })
            .catch(error => {
                console.error(`Error deactivating user ${userId}:`, error);
                // Handle error here
            });
        }
    }
    
</script>

                

{% endblock %}